html {
  background-color: #7AF400;
}
body {
  width : 900px;
  background-color: #037FFB;
  border: 4px solid black;
  margin: 10px auto;
  padding: 0 20px 20px 20px;
}
h1 
{
  margin: 0;
  padding: 20px 0;    
  color: #000000;
  font-family: 'Bangers', cursive;
  text-shadow: 3px 3px 1px white;
  font-size: 100px;
  text-align: center;
  
}
img 
{ width : 500px;
  display: block;
  margin: 0 auto;
}
p, li ,a{
  font-size: 25px;    
  line-height: 2;
  letter-spacing: 1px;
  font-family: 'Lobster', cursive;
}
